// Netrunner Array
.netrunner-array {
    text-align: center;
    margin: 40px 0;
}

.card {
    display: block;
    margin: 5px auto;
    width: 335px;
    height: 468px;
}

.array-badge {
    display: block;
    margin: 0 auto;
    width: 117px; 
    height: 20px;
    background-image: url('https://custom-icon-badges.demolab.com/badge/-Netrunner_Array-steelblue?style=flat&logo=cpu');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
