// Netrunner Array
.netrunner-array {
    text-align: center;
    margin: 40px 0;
}

.card {
    display: block;
    margin: 5px auto;
    width: 468px;
    height: 335px;
}

.array-badge {
    display: block;
    margin: 0 auto;
}
